#view{
    -fx-background-color:  #333333;
    -fx-font-family: monospace;
    -fx-hgap: 1px;
    -fx-vgap: 1px;
}
#screenText{
    -fx-text-fill: lightgrey;
    -fx-font-size: 25px;
    -fx-alignment: center-right;
    -fx-font-weight: bold;
    -fx-padding: 10px 10px 10px 10px;
    -fx-background-color: transparent;
}
.button{
    -fx-font-size: 16px;
    -fx-border-radius: 0px;
    -fx-border-insets: 0px;
}
.numeros{
    -fx-background-color:  darkgray;
    -fx-text-fill: white;
}
.numeros:hover{
    -fx-background-color:  white;
    -fx-text-fill: darkgray;
}
.numeros:pressed{
    -fx-background-color:  black;
    -fx-text-fill: lightgrey;
}
.reinicio{
    -fx-text-fill: black;
    -fx-background-color:  lightgrey;
}
.reinicio:hover{
    -fx-background-color:  white;
}
.reinicio:pressed{
    -fx-text-fill: lightgrey;
    -fx-background-color:  black;
}
.operaciones{
    -fx-text-fill: white;
    -fx-background-color:  orange;
}
.operaciones:hover{
    -fx-background-color:  darkorange;
}
.operaciones:hover:default{
    -fx-background-color:  red;
}
.operaciones:pressed{
    -fx-text-fill: orange;
    -fx-background-color:  white;
}
.button:focused{
    -fx-border-color: white; 
}
.button:armed{
    -fx-border-color: yellow; 
}
#igualButton{
    -fx-background-color:  orangered;
}